* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.carousel .project-img .image, .carousel .project-img .slide-holder, .carousel .project-details .details-slide-holder, .carousel .project-details .detials-pos, .carousel .toggle .dot {
  transition: all 0.7s linear;
}

.carousel {
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 5vh;
  grid-template-columns: 100px 1fr 1.6fr;
  gap: 20px;
  overflow: hidden;
}
.carousel .toggle {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  padding: 50px 15px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
}
.carousel .toggle .arrow {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323232;
  position: relative;
  z-index: 1000;
}
.carousel .toggle .arrow svg {
  transform: scale(1.5);
}
.carousel .toggle .arrow:hover {
  transform: scale(1.1);
  text-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.carousel .toggle .arrow.top {
  margin-bottom: 20px;
  transform: rotate(180deg);
}
.carousel .toggle .arrow.btm {
  margin-top: 20px;
}
.carousel .toggle .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(100, 100, 100, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1000;
}
.carousel .toggle .dot:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
}
.carousel .toggle .dot.active {
  transform: scale(1.5);
  background: #646464;
}
.carousel .project-details {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .project-details .detials-pos {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel .project-details .details-slide-holder {
  display: grid;
  position: relative;
  grid-gap: 30px;
  grid-auto-flow: row;
  position: absolute;
  top: 25%;
  z-index: 4;
}
.carousel .project-details .project {
  opacity: 0;
  width: auto;
  overflow: hidden;
  padding: 0.8em;
  transition: all 0.5s linear;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0);
}
.carousel .project-details .project.active {
  opacity: 1;
  z-index: 2;
}
.carousel .project-details .project .title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}
.carousel .project-details .project p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.carousel .project-details .project .header {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
}
.carousel .project-details .project .description {
  margin-bottom: 15px;
}
.carousel .project-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel .project-img .project-pos {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
}
.carousel .project-img .slide-holder {
  display: grid;
  position: relative;
  grid-gap: 15px;
  grid-auto-flow: column;
  grid-template-columns: 400px;
  position: absolute;
}
.carousel .project-img .image {
  min-width: 400px;
  width: 80%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  z-index: 1;
  background: #323232;
  opacity: 0;
}
.carousel .project-img .image.active {
  opacity: 1;
  left: 0px;
  z-index: 2;
}
.carousel .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=layout.css.map */
