* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.outline *  {
  // border: solid 1px red;
}

%transition {
    transition: all 0.7s linear;
}

.carousel {
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 5vh;
  grid-template-columns: 100px 1fr 1.6fr;
  gap: 20px;
  overflow: hidden;

  .toggle {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    padding: 50px 15px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;

    .arrow {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(50, 50, 50, 1);
      position: relative;
      z-index: 1000;

      svg {
        transform: scale(1.5);
      }

      &:hover {
        transform: scale(1.1);
        // box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1) ;
        text-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      &.top {
        margin-bottom: 20px;
        transform: rotate(180deg);
      }

      &.btm {
        margin-top: 20px;
      }
    }

    .dot {
      @extend %transition;

      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(100, 100, 100, 0.5);
      margin-top: 1rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 1000;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
      }

      &.active {
        transform: scale(1.5);
        background: rgba(100, 100, 100, 1);
      }
    }
  }

  .project-details {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .detials-pos {
      @extend %transition;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .details-slide-holder {
      @extend %transition;

      display: grid;
      position: relative;
      grid-gap: 30px;
      grid-auto-flow: row;
      position: absolute;
      top: 25%;
      z-index: 4;
    }
    
    .project {
      opacity: 0;
      width: auto;
      overflow: hidden;
      padding: 0.8em;
      // background: white;
      transition: all 0.5s linear;
      box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0);

      // transition
      &.active {
        opacity: 1;
        z-index: 2;
        // transform: scale(1.1);
        // box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.16);
      }

      .title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 15px;
      }

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .header {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 300;
      }

      .description {
        margin-bottom: 15px;
      }
    }
  }

  .project-img {
    width: 100%;
    height: 100%;
    position: relative;

    .project-pos {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      align-items: center;
    }

    .slide-holder {
      @extend %transition;
      display: grid;
      position: relative;
      grid-gap: 15px;
      grid-auto-flow: column;
      grid-template-columns: 400px;
      position: absolute;
    }

    // transition
    .image {
      min-width: 400px;
      width: 80%;
      height: 200px;
      overflow: hidden;
      border-radius: 15px;
      z-index: 1;
      background: rgba(50, 50, 50, 1);
      // box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
      opacity: 0;
      @extend %transition;

      &.active {
        opacity: 1;
        left: 0px;
        z-index: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// animation transition
